@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-datepicker-content {
  border-radius: 16px !important;
  overflow: hidden;
}

.mat-calendar {
  font-family: Inter, system-ui, sans-serif;
}

.mat-calendar-body-selected {
  background-color: #c9a45c !important; /* your gold color */
  color: white !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: #c9a45c !important;
}
